<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <%- include ('./partials/header.ejs') %>

        <h3 class="greeting">Hi, <%=username%>, check out what others are posting:) </h3>


        <% for (let post of allPosts) { %>
        <div class="postBox">
            <div class="postHead">
                <a id="username" href="/<%=post.username%>"><%=post.username%></a>
            </div>
            <div class="postBody">
                <a href="/posts/<%=post.username%>/<%=post.post_id%>"><img
                    id="postImage" src="<%=post.image%>" alt="<%=post.image%>">
                </a>
                <% if (allLikes.includes(post.post_id)) { %>
                    <form class=""
                    action="/action/unlike/<%=post.username%>/<%=post.post_id%>?"
                    method="POST">
                        <button type="submit" name="button"
                        class="unlike-button"><ion-icon name="heart-dislike"></ion-icon></button>
                    </form>
                <% } else { %>
                    <form class=""
                    action="/action/like/<%=post.username%>/<%=post.post_id%>?"
                    method="POST">

                        <button type="submit" name="button"><ion-icon class="like-button" name="heart-outline"></ion-icon></button>

                    </form>
                <% } %>
            </div>
            <div class="postDescription">
                <a id="likes" href="#"><%=post.likes%> likes</a>
                <div class="mainDescription">
                    <a id="username" href="/<%=post.username%>"><%=post.username%></a> <%=post.description%>

                </div>

            </div>

            <br>
            <% for (let comment of allComments) { %>
                <% if (comment.post_id === post.post_id) { %>
                    <p><a id="username" href="/<%= comment.username%>"><%= comment.username%></a> <%=comment.comment%></p>
                <% } %>
            <% } %>


            <form action="/comments/<%=post.post_id%>" method="POST">
                <input class="commentBox" type="text" name="comment" placeholder="Add a comment...">
            </form>
        </div>
        <% } %>


    </body>
</html>
