<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <link rel="stylesheet" href="/styles.css">
    <body>
        hi, <a href="/posts/<%=username%>"><%=username%></a>


        <input list="browsers" name="browser" placeholder="search..." id="browser">

        <datalist action="/posts/" method="GET" id="browsers">
            <% for (let username of allUsernames) { %>
                <option value="<%=username%>"></option>
            <% } %>
        </datalist>

        <a href="/posts/create">Create Post</a>

        <form class="" action="/sessions?_method=DELETE" method="post">
            <input type="submit" name="" value="Log Out">
        </form>

        <% for (let post of allPosts) { %>
        <div>
            <br/>
            <a href="/posts/<%=post.username%>"><%=post.username%></a>
            <br/>
            <a href="/posts/<%=post.username%>/<%=post.post_id%>"><img src="<%=post.image%>" alt="<%=post.image%>">
            </a>

            <br>
            post id: <%=post.post_id%>
            <br/>
            Description: <%=post.description%>
            <br/>
            Likes: <%=post.likes%>
        </div>
        <% } %>


    </body>
</html>
