<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        hi, <%=username%>!
        <% for (let post of allPosts) { %>
        <div>
            <br/>
            Username: <%=post.username%>
            <br/>
            <%=post.image%>
            <br/>
            Description: <%=post.description%>
            <br/>
            Likes: <%=post.likes%>
        </div>
        <% } %>

        <form class="" action="sessions?_method=DELETE" method="post">
            <input type="submit" name="" value="Log Out">
        </form>
    </body>
</html>
