<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <link rel="stylesheet" href="/styles.css">
    <body>
        <a href="/feed/explore">Explore</a>
        <% for (let post of allPosts) { %>
            <% if (username === currentUser) { %>
                <a href="/posts/<%=currentUser%>/<%=post.post_id%>/edit">Edit me</a>

            <% } %>



            <img src="<%=post.image%>" alt="<%=post.image%>">
            <br>
            <%=post.description%>

        <% } %>


        <% if (whichButtonToRender === 2) { %>

        <% } else if (whichButtonToRender === 1) { %>
            <form action="/unfollow/<%=username%>?_method=DELETE" method="POST">
                <input type="Submit" name="" value="Unfollow">
            </form>
        <% } else if (whichButtonToRender === 0) { %>
            <form action="/follow/action/<%=username%>" method="POST"
            >
                <input type="Submit" name="" value="Follow">
            </form>
        <% } %>







    </body>
</html>
